#loading{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    animation: loading 2s linear infinite;
}
@keyframes loading{
    0%{
        transform: rotateZ(0deg) scale(2);
    }
    50%{
        transform: rotateZ(180deg) scale(3);
    }
    100%{
        transform: rotateZ(360deg) scale(2);
    }
}