@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:wght@500&family=Orbitron:wght@600&family=Quicksand&display=swap');

body{
    overflow-x: hidden;
}

#startVisual{
    transition: 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-shadow: 0px 5px 10px black;
    font-family: 'Cinzel', serif;
    font-size: 6em;
}
#startVisual:hover{
    background: radial;
    color: orangered;
    text-shadow: 0px 0px 20px black;
}
#clickNotice{
    text-shadow: 0px 5px 10px black;
    top: 50%;
    right: 50%;
    transform: translate(50%, -200%);
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    position: fixed;
    height: 3rem;
    width: 25rem;
}
#interfaceDemo{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    right: 10px;
    top: 5px;
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    z-index: 100;
}
.slider{
    margin: 10px;
}
#header {
    pointer-events: none;
    margin: 0px;
    margin-bottom: -10px;
    color: rgba(0,0,0,0.75);
    font-family: monospace;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}




/* Main Site */
#mainSite{
	display: none;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#navbarLinks{
    z-index: 100;
	background-color: rgba(255,255,255,0.1);
	display: flex;
	position: fixed;
	top: -30px;
	left: 0px;
	height: 100px;
	width: 100%;
	font-family: 'Cinzel', serif;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	list-style: none;
    font-size: 1.5rem;
}
#navbarLinks p{
	border-right: 1px solid rgba(0, 0, 0, 0.335);
}
#navbarLinks li{
	width: 25%;
    overflow: hidden;
}
#navbarLinks li:hover a{
	color: orangered;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}
#navbarLinks li a{
    min-height: 100%;
    min-width: 100%;
    left: 0px;
    top: 0px;
    position: relative;
    display: block;
}
#navbarLinks li a::after {
    content: "";
    transition: transform 0.75s linear, border-color 1.5s linear;
    min-height: 100%;
    min-width: 110%;
    transform: translateX(-101%);
    left: 0px;
    top: 0px;
    position: relative;
    display: block;
    z-index: -10;
    border-bottom: 2px solid black;
    border-color: black;
}
#navbarLinks li:hover a::after{
    transform: translateX(100%);
    transition: transform 0.75s linear, border-color 0.33s ease;
    border-color: orangered;
}

#startCanvas{
    height: 100% !important;
    right: -10px !important;
    left: -10px !important;
    top: -10px !important;
    display: block;
    position: relative !important;
    box-shadow: 0px 0px 10px black;
    z-index: -1;
}