@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:wght@500&family=Orbitron:wght@600&family=Quicksand&display=swap');

#SMR{
    transition: 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-shadow: 0px 5px 10px black;
    font-family: 'Cinzel', serif;
    font-size: 6em;
}
#SMR:hover{
    background: radial;
    color: orangered;
    text-shadow: 0px 0px 20px black;
}
#clickNotice{
    text-shadow: 0px 5px 10px black;
    top: 50%;
    right: 50%;
    transform: translate(50%, -200%);
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    position: fixed;
    height: 3rem;
    width: 25rem;
}
#interfaceDemo{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    right: 10px;
    top: 5px;
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    z-index: 100;
}
.slider{
    margin: 10px;
}
#header {
    pointer-events: none;
    margin: 0px;
    margin-bottom: -10px;
    color: rgba(0,0,0,0.75);
    font-family: monospace;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}