@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:wght@500&family=Orbitron:wght@600&family=Quicksand&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.1rem;
}

#startVisual{
    z-index: 5;
    transition: 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-shadow: 0px 3px 15px gray;
    font-family: 'Cinzel', serif;
    font-size: 6em;
}
#startVisual:hover{
    background: radial;
    color: orangered;
    text-shadow: 0px 0px 20px gray;
}
#clickNotice{
    text-shadow: 0px 0px 10px gray;
    top: 50%;
    right: 50%;
    transform: translate(50%, -200%);
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    position: fixed;
    height: 3rem;
    width: 25rem;
}
#interfaceDemo{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    right: 10px;
    top: 5px;
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.25);
    border-radius: 10px;
    z-index: 100;
}
.slider{
    margin: 10px;
}
#header {
    pointer-events: none;
    margin: 0px;
    margin-bottom: -10px;
    color: rgba(0,0,0,0.75);
    font-family: monospace;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}



/* Main Site */
#mainSite{
	display: block;
	height: 100%;
	right: 0px;
	left: 0px;
	top: 0px;
}
#navbarLinks{
    z-index: 100;
	background-color: rgba(255,255,255,0.0);
	display: flex;
	position: fixed;
	top: -30px;
	left: 0px;
	height: 100px;
	width: 100%;
	font-family: 'Cinzel', serif;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	list-style: none;
    font-size: 1.5rem;
}
#navbarLinks p{
	border-right: 1px solid rgba(0, 0, 0, 0.335);
}
#navbarLinks li{
	width: 25%;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.1s ease;
}
#navbarLinks li a{
    min-height: 100%;
    min-width: 100%;
    left: 0px;
    top: 0px;
    position: relative;
    display: block;
}
#navbarLinks li a::after {
    content: "";
    transition: transform 0.75s linear, border-color 1s linear;
    min-height: 100%;
    min-width: 110%;
    transform: translateX(-101%);
    left: 0px;
    top: 0px;
    position: relative;
    display: block;
    z-index: -10;
    border-bottom: 2px solid black;
    border-color: black;
}
#navbarLinks li:hover a::after{
    transform: translateX(100%);
    transition: transform 0.75s linear, border-color 0.33s ease;
    border-color: orangered;
}
#navbarLinks .active a::after{
    transform: translateX(0%) !important;
    border-width: 1px;
    transition: transform 0.75s linear, border-color 0.33s ease;
    border-color: rgba(255, 68, 0, 1) !important;
}
#startCanvas{
    height: 100% !important;
    right: -10px !important;
    left: -10px !important;
    top: -10px !important;
    display: block;
    position: relative !important;
    box-shadow: -10px 10px 10px black;
    z-index: 0;
}


#siteContent {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
    height: auto;
	top: 0px;
	left: 0px;
	right: 0px;
}
.content{
	position: absolute;
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100% !important;
	left: 0px;
    right: 0px;
    min-height: 600px;
    margin-top: 75px;
}
.show-items{
	margin: 100px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	min-height: 400px !important;
	width: 400px !important;
}
.content-text{
    z-index: 10;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 100px;
    max-width: 600px;
    min-width: 600px;
}
.header{
    font-size: 2rem;
    text-align: center;
}
.text{
	margin-left: 20px;
	margin-right: 20px;
    text-align: center;
}
#footer{
    position: fixed;
    background: radial-gradient(at bottom left, rgba(255, 68, 0, 0.5) 0%, transparent 75%);
    z-index: 10;
    height: 0px;
    bottom: 0px;
    left: 0px;
    width: 350px;
}

.varible{
    color: green;
}
.constructor{
    color: orange;
}