#preloader{
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}
.loading{
    font-family: fantasy;
    font-size: 5rem;
    position: relative;
    margin: -0.5em;
    height: 10rem;
    width: 6rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-background{
    font-size: 4rem;
    position: relative;
    margin: 15px;
    height: 10rem;
    width: 6rem;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#l{
    animation: load 1s ease-in-out infinite alternate;
}
#o{
    animation: load 1s ease-in-out infinite alternate;
    animation-delay: 0.285714s;
}
#a{
    animation: load 1s ease-in-out infinite alternate;
    animation-delay: 0.571428s;
}
#d{
    animation: load 1s ease-in-out infinite alternate;
    animation-delay: 0.857114s;
}
#i{
    animation: load 1s ease-in-out infinite alternate;
    animation-delay: 1.142857s;
}
#n{
    animation: load 1s ease-in-out infinite alternate;
    animation-delay: 1.428571s;
}
#g{
    animation: load 1s ease-in-out infinite alternate;
    animation-delay: 1.714285s;
}
@keyframes load{
    from{
        transform: translate(0px,0px);
        box-shadow: 0px 0px 0px orangered;
    }
    to{
        transform: translate(0px,-1rem);
        box-shadow: 0px 1rem 3rem orangered;
    }
}
#error{
    position: absolute;
    height: 20rem;
    width: 60rem;
    opacity: 0;
    background-color: whitesmoke;
    color: black;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
    transition-delay: 10s;
}
@media only screen and (min-width: 800px){
    .loading-background{
        background-color: orangered;
    }
}